@model Assignment_06112020.Models.Employee

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <br />

    <div class="form-horizontal">
        @Html.HiddenFor(model => model.Code)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="col-md-10">
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label " })
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @id = "txtName" })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-10">
            <div class="form-group">
                @Html.LabelFor(model => model.JoiningDate, htmlAttributes: new { @class = "control-label " })
                @Html.TextBoxFor(model => model.JoiningDate, new { @class = "form-control datepicker", @id = "txtJoiningDate" })
                <span class="input-group-addon" style="margin-left:872px;margin-top:-26px;"><i class="fa fa-calendar"></i></span>
                @Html.ValidationMessageFor(model => model.JoiningDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-10">
            <div class="form-group">
                @Html.LabelFor(model => model.ReleaseDate, htmlAttributes: new { @class = "control-label " })
                @Html.TextBoxFor(model => model.ReleaseDate, new { @class = "form-control datepicker", @id = "txtReleaseDate" })
                @Html.ValidationMessageFor(model => model.JoiningDate, "", new { @class = "text-danger" })
                <span class="input-group-addon" style="margin-left:872px;margin-top:-26px;"><i class="fa fa-calendar"></i></span>
            </div>
        </div>

        <div class="col-md-10">
            <div class="form-group">
                @Html.LabelFor(model => model.Skils, htmlAttributes: new { @class = "control-label " })
                @Html.DropDownListFor(m => m.ID, new SelectList(Model.SkilList.Items, "ID", "SkilName"), new { @class = "form-control ", @id = "txtSkils" })
                @Html.ValidationMessageFor(model => model.ID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" id="submit1" class="btn btn-primary" />
            </div>
        </div>
    </div>
}



